In [1]:
import pandas as pd
import sys
sys.path.insert(1, './Etapa1')

In [2]:
df = pd.read_csv("data/penguins.csv")

In [3]:
df.head()

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,2007-11-11,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,2007-11-11,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,2007-11-16,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,2007-11-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,2007-11-16,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN

In [4]:
from utils import *

attr_numericos = ["Culmen Length (mm)", "Culmen Depth (mm)"
                  , "Flipper Length (mm)", "Body Mass (g)", "Delta 15 N (o/oo)", "Delta 13 C (o/oo)"]

coluna_alvo = ["Species"]
X = df[attr_numericos]
# Lidar com dados ausentes
X = MySimpleImputer(strategy="mean").fit_transform(X)
X = MyScaler().fit_transform(X)
y = df[coluna_alvo]

In [5]:
y

                                       Species
0          Adelie Penguin (Pygoscelis adeliae)
1          Adelie Penguin (Pygoscelis adeliae)
2          Adelie Penguin (Pygoscelis adeliae)
3          Adelie Penguin (Pygoscelis adeliae)
4          Adelie Penguin (Pygoscelis adeliae)
..                                         ...
339  Chinstrap penguin (Pygoscelis antarctica)
340  Chinstrap penguin (Pygoscelis antarctica)
341  Chinstrap penguin (Pygoscelis antarctica)
342  Chinstrap penguin (Pygoscelis antarctica)
343  Chinstrap penguin (Pygoscelis antarctica)

[344 rows x 1 columns]

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [7]:
import sys
sys.path.insert(1, './Etapa1')
from naive_bayes import NaiveBayes

naive = NaiveBayes()
X_train[coluna_alvo] = df[coluna_alvo]
naive.fit(X_train, y_train)
y_pred = naive.predict(X_test)

X_train

/home/z/.local/lib/python3.8/site-packages/pandas/core/frame.py:3191: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Delta 15 N (o/oo),Delta 13 C (o/oo),Species
31,-1.236621,0.482580,-1.636769,-0.377925,1.842562,0.869418,Adelie Penguin (Pygoscelis adeliae)
245,1.026187,-0.534630,1.648883,1.813821,0.185577,-0.007276,Gentoo penguin (Pygoscelis papua)
277,1.118171,1.194626,-0.351079,-0.377925,0.347120,1.865100,Chinstrap penguin (Pygoscelis antarctica)
165,0.823822,-1.297537,0.863183,2.064307,-1.691199,0.264958,Gentoo penguin (Pygoscelis papua)
250,0.823822,-1.399258,0.148911,0.530084,-1.051807,-0.583072,Gentoo penguin (Pygoscelis papua)
...,...,...,...,...,...,...,...
188,-0.243193,-1.755281,0.863183,0.937123,-1.415906,-1.316023,Gentoo penguin (Pygoscelis papua)
71,-0.776700,0.635161,-0.779643,-0.377925,1.046500,0.580941,Adelie Penguin (Pygoscelis adeliae)
106,-0.979065,0.024835,-0.136798,-0.565789,0.073828,-1.033179,Adelie Penguin (Pygoscelis adeliae)
270,0.603060,-1.755281,0.934611,0.905812,-1.374227,-0.667520,Gentoo penguin (Pygoscelis papua)
102,-1.144637,-0.585490,-1.279633,-1.411177,0.892722,-0.693136,Adelie Penguin (Pygoscelis adeliae)

In [8]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

print("Acurácia: ", accuracy_score(y_test,y_pred))
print("Precisão: ", precision_score(y_test,y_pred, average=None))
print("Recall:   ", recall_score(y_test,y_pred, average=None))
print("F1 Score: ", f1_score(y_test,y_pred, average=None))

Acurácia:  0.9807692307692307
Precisão:  [1.  0.9 1. ]
Recall:    [0.96 1.   1.  ]
F1 Score:  [0.97959184 0.94736842 1.        ]